/* modal.component.css */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.bg-white {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
}

/* Asegúrate de que el color del texto tenga suficiente contraste */
.text-white {
  color: rgba(255, 255, 255, 0.9);
}
